
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.transparency {
    background-color:black;
    opacity: .7;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: auto auto;
}

.header {
    background-image: url('./img/P1004366-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.menu-collapsed {
    width: fit-content;
    margin-left: 1rem;
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem 10rem 2rem 0;
}

nav li {
    letter-spacing: .1rem;
    margin-left: 1.5rem;
    color: white;
}

nav li:first-of-type {
    margin-left: 0;
}

nav li, :visited {
    list-style: none;
    text-transform: uppercase;
    color: white;
}

.link {
    text-decoration: none;
}

h1, h2, h3, nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1.title {
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 7rem;
    margin: 0 0 0 .5rem;
    padding-top: 10px;
    color: white;
}

.home {

}

.grid-container {
    background-color: white;
    display: grid;
    color: black;
    padding: 2rem;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.grid-container p {
    max-width: 800px;
    line-height: 1.8rem;
    text-align: right;
}